sudo apt install pyqt5-dev-tools -y
sudo apt install python-pyqt5 -y
sudo apt-get install python2.7-dev -y

pip2 install requests
pip2 install pexpect

sudo apt-get install python2.7

sudo pip2 install pyinstaller

pyinstaller -F -w -i=/sources/icon/icon.png --clean Initializer.py
pyrcc5 -o resource.py resource.qrc


